
[Unit]
Description=Validating, recursive, and caching DNS resolver
Documentation=man:unbound(8)
After=network-online.target
Before=nss-lookup.target
Wants=network-online.target nss-lookup.target

[Install]
WantedBy=multi-user.target

[Service]
ExecStartPre=/usr/sbin/unbound-anchor -a /etc/unbound/root.key -v
ExecStartPre=/bin/bash /root/scripts/ulimit.sh

ExecStart=/usr/sbin/unbound -d -p

ExecReload=+/bin/kill -HUP $MAINPID

Restart=always
RestartSec=360



root@DietPi:/etc/systemd/system/unbound.service.d# cat override.conf
[Service]
LimitNOFILE=8192
ExecStartPre=
ExecStartPre=-/usr/sbin/unbound-anchor -a /etc/unbound/anchor/root.key -v
ExecStartPre=/bin/chown unbound:unbound /etc/unbound/anchor/root.key
ExecStartPre=/bin/bash /root/scripts/ulimit.shr
