[Unit]
Description=Update Pi-hole's Gravity blocklist
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/pihole -g
ProtectSystem=full
ReadWritePaths=/etc/pihole
ProtectHome=true
PrivateTmp=true
