
[Unit]
Description=Validating, recursive, and caching DNS resolver
Documentation=man:unbound(8)
After=network-online.target
Before=nss-lookup.target
Wants=network-online.target nss-lookup.target

[Install]
WantedBy=multi-user.target

[Service]
LimitNOFILE=8192
ExecStartPre=
ExecStartPre=-/usr/sbin/unbound-anchor -a /etc/unbound/anchor/root.key -v
ExecStartPre=/bin/chown unbound:unbound /etc/unbound/anchor/root.key
ExecStartPre=/bin/bash /etc/unbound/ulimit.sh

ExecStart=/usr/sbin/unbound -d -p -c /etc/unbound/unbound.conf

ExecReload=+/bin/kill -HUP $MAINPID
ExecStop=/bin/sh -c '/usr/sbin/unbound-control dump_cache > /var/lib/unbound/cache.dump'
ExecStartPost=/bin/sh -c 'sleep 2; unbound-control load_cache < /var/lib/unbound/cache.dump 2>/dev/null || true'

Restart=always
RestartSec=360
